<ul class="gallery">
  <% posts.each do |post| %>
    <li class="flipLeft list">
      <%= link_to post_path(post.id), class:"image_link", data: {"turbolinks" => false} do %>
        <% if post.image.attached? %>
          <%= image_tag post.image %>
         <% else %>
          <%= image_tag 'no_image' %>
        <% end %>
        <!--<div class="row mt-2 ml-1">-->
        <!--  <span class="index-post-ttl mr-2"><%#= post.title %></span>-->
        <!--  <div class= "favorite-<%#= post.id %>">-->
        <!--    <%#= render "/public/favorites/btn", post: post %>-->
        <!--  </div>-->
        <!--</div>-->
      <% end %>
    </li>
  <% end %>
</div>