<div class='container'>
    <div class='row'>
      <div class="col-lg-12 col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
        <div class="content-wrap">
          <header class="page-header heading">
            <h1 class="mb-5 heading__ttl">
              <span class="text-en">followings</span>
              <span class="text-ja">フォロー</span>
            </h1>
          </header>
        </div>
        <% if users.exists? %>
          <% @users.each do |user| %>
            <table>
              <thead>
                <tr>
                  <th>name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= user.name %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% else %>
          <p>ユーザーはいません</p>
        <% end %>

      </div>
    </div>
  </div>