<div class='container'>
    <div class='row'>
      <div class="col-lg-12 col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
        <div class="content-wrap">
          <header class="page-header heading">
            <h1 class="mb-5 heading__ttl">
              <span class="text-en">followings</span>
              <span class="text-ja">フォロー</span>
            </h1>
          </header>
        </div>
        <div class="row d-flex justify-content-center">
          <% if @users.exists? %>
            <% @users.each do |user| %>
                <div class="card col-md-3 mx-1 mb-2">
                  <% user.posts.published.each_with_index do |post, i|%>
                    <%= image_tag post.image, class:'bd-placeholder-img card-img-top' %>
                    <% break if i == 0 %>
                  <% end %>
                  <%= link_to user_index_path(user.id), class:"card-body" do%>
                    <span class="col-12 card-title pl-0 user-name link"><%= user.name %></span>
                    <p class="card-text user-place">favorite place : <%= user.place %></p>
                  <% end %>
                </div>
            <% end %>
          <% else %>
            <p>ユーザーはいません</p>
          <% end %>
          <div class="col-3 mx-1 mb-2"></div>
          <div class="col-3 mx-1 mb-2"></div>
        </div>
        <div id="bottom"></div>
      </div>
    </div>
  </div>