<div class='container'>
    <div class='row'>
      <div class="col-lg-12 col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
        <div class="content-wrap">
          <header class="page-header heading">
            <h1 class="mb-5 heading__ttl">
              <span class="text-en">followings</span>
              <span class="text-ja">フォロー</span>
            </h1>
          </header>
        </div>

        <div class="d-flex col-lg-9 col-md-8 col-sm-12 mx-auto">
          <% if @users.exists? %>
            <% @users.each do |user| %>
            <%#byebug%>
                <div class="card col-4">
                  <%#= image_tag user.posts.published.last.image, class:'bd-placeholder-img card-img-top' %>
                  <% user.posts.published.each do |post|%>
                    <%= image_tag post.image, class:'bd-placeholder-img card-img-top' %>
                  <% end %>
                  <%#= image_tag "no_image", class:'bd-placeholder-img card-img-top' %>
                  <div class="card-body">
                    <h5 class="col-12 card-title"><%= link_to user.name, user_index_path(user.id), class:"link"%></h5>
                    <p class="card-text">favorite place : <%= user.place %></p>
                  </div>
                </div>
            <% end %>
          <% else %>
            <p>ユーザーはいません</p>
          <% end %>
        </div>
        <div id="bottom"></div>
      </div>
    </div>
  </div>