<div class='container'>
    <div class='row'>
      <div class="col-lg-12 col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
        <div class="content-wrap">
          <header class="page-header heading">
            <h1 class="mb-5 heading__ttl">
              <span class="text-en">about</span>
              <span class="text-ja">ひとたびについて</span>
            </h1>
          </header>
        </div>
        <div class="mx-auto col-lg-9 col-md-9 col-sm-12 mb-5">
          <h2 class="sub-header" id="in_page_link-comment">ひとたびの背景</h2>
          <div class="home-box row d-flex justify-content-center mb-5">
            <%= image_tag 'hitotabi-about.png', class:"w-25" %>
          </div>
          <p id = "bottom" class="about-text mb-5">
            ひとたびは純粋に土地への愛着を感じさせるような投稿を楽しむためのSNSです。<br>
            同じ場所の投稿でも違う時期や時間帯の写真を見ることで、<br>
            その土地の様々な顔を見ることができます。<br>
          </p>
          <p class="about-text">
            ユーザー本人をアピールした写真ではなく、<br>
            純粋に土地の風景や雰囲気を写真として投稿することで、<br>
            他ユーザーの投稿を穏やかな気持で楽しむことができます。<br>
          </p>
        </div>
      </div>
    </div>
  </div>