<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <div class="content-wrap">
        <header class="page-header heading">
          <h1 class="mb-5 heading__ttl">
            <span class="text-en">top</span>
            <span class="text-ja">管理者トップ</span>
          </h1>
        </header>
      </div>
      <div class="row d-flex justify-content-center">
        <% if admin_signed_in? %>
          <h4 class="my-5"><strong>ようこそ</strong></h4>
            <div class="home-box row d-flex justify-content-center pt-5 border-top">
              <%= image_tag 'hitotabi-about.png', class:"w-25" %>
            </div>
        <% else %>
          <p>管理人の方は<%= link_to "こちら", new_admin_session_path %>からログインしてください</p>
        <% end %>
      </div>
    </div>
  </div>
</div>