<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <div class="content-wrap">
        <header class="page-header heading">
          <h1 class="mb-5 heading__ttl">
            <span class="text-en">user posts</span>
            <span class="text-ja">ユーザー投稿一覧</span>
          </h1>
        </header>
      </div>
      <div class="row">
        <div class='col-md-12 mb-5'>
          <div class="d-flex align-content-start row flex-wrap py-1">
            <%= render 'index', posts: @posts %>
          </div>
        </div>
      </div>
    </div>
</div>