header {
  background-color: #F3F2EE !important
}

.coffee {
  width: 30px;
  height: 30px;
  margin-top: 4px;
}

.content-wrap {
  max-width: 1200px;
  margin-right: 8%;
  margin-left: 8%;
}

/*フッター固定*/
html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}
/*フッター固定*/

footer {
  background-color: #F3F2EE  !important;
  border: 1px;
}

body {
  color: #1E1D1C !important;
  background-color: #F3F2EE;
  text-decoration: none !important;
  font-family: "Overpass", sans-serif;
}

input::placeholder {
 font-size: 12px;
}

a{
  text-decoration: none
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*スクロールダウンアニメーション*/
/* アニメーション設定 */
.arrowWrap {
  margin-top: 50vh;
}

.arrow1 {
  width: 15px;
  margin: 0 auto;
  -webkit-animation: arrow1 2s linear 0s infinite normal;
  animation: arrow1 2s linear 0s infinite normal;
}

.arrow2 {
  width: 15px;
  margin: 0 auto;
  -webkit-animation: arrow2 2s linear 0s infinite;
  animation: arrow2 2s linear 0s infinite;
}

.arrow1 span,
.arrow2 span {
  position: relative;
  display: block;
  left: 50%;
}

.arrow1 span {
  margin-top: -10px;
}

.arrow1 span:before,
.arrow2 span:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 0;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
}

@keyframes arrow1 {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  20% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  40% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  60% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  80% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes arrow2 {
  0% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  20% {
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  40% {
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  60% {
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }

  80% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
  }
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*header*/
.a-header{
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #1E1D1C !important;
  margin-right: 10px;
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  font-weight: 700;
  text-align: center !important
}

.a-header::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 90%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .4s;
}

.a-header:hover::after {
    transform: scale(1, 1);
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*hamburger menu*/

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*Serach*/
.search-control{
  color: #1E1D1C !important;
  background-color: #EBE9E4 !important;
  border: #EBE9E4 !important;
  border-radius: 2rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.search-control::placeholder {
  color: #EBE9E4 !important;
}

.search-control:focus{
  box-shadow: 0 0 0 0.2rem #f8f9fa38 !important;
}

.search-control:hover{
  box-shadow: 0 0 0 0.2rem #f8f9fa38 !important;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*リンクの色*/
.link{
  text-decoration: none !important;
  color: #1E1D1C !important
}

td > .link:hover {
    background-color: #D9FC18;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*page title*/
.heading__ttl:before {
    height: 5px;
    border-radius: 2px;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    margin-left: -23px;
    background-color: #1E1D1C;
}

.heading__ttl .text-en {
    display: block;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.06em;
}

.heading__ttl .text-ja {
    font-size: 0.7rem;
    letter-spacing: 0.1em;
    display: block;
    margin-top: 1.2rem;
    font-weight: 700;
}

.heading__ttl {
  position: relative;
  text-align: center;
  padding-top: 2.3rem;
  word-break: break-all;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*page list*/
.page-list{
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 1.4rem;
  -moz-column-gap: 1.4rem;
  column-gap: 1.4rem;
  row-gap: 0.9rem;
  max-width: 84%;
  margin-right: auto;
  margin-left: auto;
}

.page-list li {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 0 0.1rem 0.5rem;
  text-decoration: none;
}
.page-list li a:hover{
  background-color: #D9FC18;
}

.page-list .is-current {
  border-bottom: 2.5px #1E1D1C solid;
  pointer-events: none;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*pagenation design*/

.pagination>li>a {
  border: none;
  background-color: transparent
}

.pagination>.active>a {
  background-color: #1E1D1C !important;
  border-color: #1E1D1C !important;
  }

.page-link:hover {
  color: #a84b4f !important;
}

.page-item.active .page-link {
  color: #fff !important;
}

.page-item .page-link {
  border-radius: 0.4rem;
  color: #696969 !important;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*online button*/
.online-btns .online-btn {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  border-radius: 18px;
  border: 1px solid #1E1D1C;
  padding: 5px 16px;
  transition: .3s;
  background: #1E1D1C;
}

.online-btns .online-btn:hover {
  color: #1E1D1C;
  background-color: #D9FC18;
  border: 1px solid #D9FC18;
  text-decoration: none;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*tag design for post new and show page*/
.tag_input{
  display:none
}
.tag_area > .tag_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tag_area > .tag_list > .tag_link {
  margin: 0 .3em .3em 0;
}
.tag_area > .tag_list > .tag_link > .tag_text {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  height: 34px;
  padding: 0 1em;
  background-color: transparent;
  border: 1px solid #1E1D1C;
  border-radius: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 12px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  box-sizing: border-box;
}
.tag_area > .tag_list > .tag_link > .tag_text:hover {
  background-color: #343a40;
  border: 1px solid #343a40;
  color: #fff;
}
.tag_area > .tag_list > .tag_link > .tag_text:before {
  content: "#";
  padding-right: 2px;
}

.tag_input:checked + .tag_list > .tag_link > .tag_text{
  background-color: #343a40;
  border: 1px solid #343a40;
  color: #fff;
  opacity: 1;
  -webkit-animation: flash 0.8s;
  animation: flash 0.8s;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*images index*/
.post-image{
  width:100%;
  height: 225px;
  object-fit:cover;
}

.index-post-ttl{
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.8;
  color: #1E1D1C;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*image preview*/
.new-img{
  width: 100%;
  max-height: 550px;
  object-fit: contain;
}

.file-area{
  background-color: #e6e2d8;
  border-radius: 5px;
}
.file-area:hover{
  background-color: #d2f703;
  color: #1E1D1C;
}

.file-label{
  display: inline-block;
  position: relative;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.5s;
  color: #1E1D1C;
  padding: 10px 0px 0px 20px;
}

.file-input{
  display: none;
}

.label-text_bar:nth-of-type(1){
  transform: rotate(90deg);
}
.label-text_bar{
  top: calc(19 / 1380 * 100vw);
  position: absolute;
  width: 16px;
  height: 2px;
  right: 0;
  background-color: #2c2c2c;
  margin-right: 13px;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*posts show page*/

.post-img img {
  width: 100%;
  max-height: 550px;
  object-fit: contain;
}
.post-header_ttl{
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.1em;
}

.sub-header{
  position: relative;
  font-weight: 700;
  text-align: left;
  padding-top: 37px;
  margin-top: 50px;
  letter-spacing: 0.1em;
}

.sub-header:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 3.5px;
    border-radius: 1px;
    background-color: #1E1D1C;
}

.btn-text{
  font-size: 12px;
}

.post-content{
  line-height: 2.0em;
}

.link-btn {
    display: inline-block;
    padding: 0.7rem 2rem 0.6rem;
    width: 100%;
    border-radius: 0;
    border: 2.5px transparent solid;
    background-color: #e6e2d8;
    color: #1E1D1C;
    font-family: "Overpass", sans-serif;
    letter-spacing: 0;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: none !important;
}

.link-btn:hover{
  text-decoration: none !important;
  background-color: #D9FC18;
  color: #1E1D1C;
}

.comment-textarea{
  background-color: #EEECE7;
}

.form-control {
  letter-spacing: 0.05em;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #ebe9e3;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #ebe9e3;
  border-color: #ebe9e3;
  outline: 0;
  box-shadow: 0 0 0 0.15rem #645f5a;
}


