header {
  background-color: #f8f9fa !important
}

.content-wrap {
    max-width: 1200px;
    margin-right: 8%;
    margin-left: 8%;
}

/*フッター固定*/
html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}
/*フッター固定*/

footer {
  background-color: #f8f9fa  !important;
  border: 1px;
}

body {
  color: #1E1D1C !important;
  background-color: #f8f9fa;
  text-decoration: none !important;
  font-family: "Overpass", sans-serif;
}

input::placeholder {
 font-size: 12px;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*header*/
.a-header{
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #1E1D1C !important;
  margin-right: 10px;
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  font-weight: 700;
  text-align: center !important
}

.a-header::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 90%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.a-header:hover::after {
    transform: scale(1, 1);
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*リンクの色*/
.link{
  text-decoration: none !important;
  color: #1E1D1C !important
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*page title*/
.heading__ttl:before {
    height: 5px;
    border-radius: 2px;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    margin-left: -23px;
    background-color: #1E1D1C;
}

.heading__ttl .text-en {
    display: block;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.06em;
}

.heading__ttl .text-ja {
    font-size: 0.7rem;
    letter-spacing: 0.1em;
    display: block;
    margin-top: 1.2rem;
    font-weight: 700;
}

.heading__ttl {
    position: relative;
    text-align: center;
    padding-top: 2.3rem;
    word-break: break-all;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*online button*/
.online-btns .online-btn {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    border-radius: 18px;
    border: 1px solid #1E1D1C;
    padding: 5px 16px;
    transition: .3s;
    background: #1E1D1C;
}

.online-btns .online-btn:hover {
    color: #1E1D1C;
    background-color: #D9FC18;
    border: 1px solid #D9FC18;
    text-decoration: none;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*tag design for post new and show page*/
.tag_input{
  display:none
}
.tag_area > .tag_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tag_area > .tag_list > .tag_link {
  margin: 0 .3em .3em 0;
}
.tag_area > .tag_list > .tag_link > .tag_text {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  height: 34px;
  padding: 0 1em;
  background-color: transparent;
  border: 1px solid #1E1D1C;
  border-radius: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 12px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  box-sizing: border-box;
}
.tag_area > .tag_list > .tag_link > .tag_text:hover {
  background-color: #2196F3;
  border: 1px solid #2196F3;
  color: #fff;
}
.tag_area > .tag_list > .tag_link > .tag_text:before {
  content: "#";
  padding-right: 2px;
}

.tag_input:checked + .tag_list > .tag_link > .tag_text{
  background-color: #2196F3;
  border: 1px solid #2196F3;
  color: #fff;
  font-size: 13px;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*tag design for checkbox*/
/*.checkbox_tag {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  cursor: pointer;*/
/*  border: 1px;*/
/*  border-radius: 9px;*/
/*  border-color: #1E1D1C;*/
/*  padding: 0px 15px 0px 10px;*/
/*}*/
/*.checkbox_tag_input {*/
/*  margin: 0;*/
/*  width: 0;*/
/*  opacity: 0;*/
/*}*/
/*.checkbox_tag:hover{*/
/*  background: rgba(0,0,0,.05) !important;*/
/*  border: 1px;*/
/*  border-radius: 9px;*/
/*  border-color: #1E1D1C;*/
/*  padding: 0px 15px 0px 10px;*/
/*}*/
/*.checkbox_tag:hover > .checkbox_tag_dummy{*/
/*  transform: scale(1.1);*/
/*}*/
/*.checkbox_tag_input:focus + .checkbox_tag_dummy{*/
/*  transform: scale(1.1);*/
/*}*/
/*.checkbox_tag_input:checked + .checkbox_tag_dummy {*/
/*  background: #2196F3;*/
/*}*/
/*.checkbox_tag_input:checked + .checkbox_tag_dummy::before {*/
/*  content: "";*/
/*  display: block;*/
/*  position: absolute;*/
/*  top: 17%;*/
/*  left: 60%;*/
/*  width: 28%;*/
/*  height: 3px;*/
/*  border-radius: 2px;*/
/*  transform: translate(-6px, 5px) rotateZ(-135deg);*/
/*  transform-origin: 2px 2px;*/
/*  background: #FFFFFF;*/
/*}*/
/*.checkbox_tag_input:checked + .checkbox_tag_dummy::after {*/
/*  content: "";*/
/*  display: block;*/
/*  position: absolute;*/
/*  top: 25%;*/
/*  left: 70%;*/
/*  width: 70%;*/
/*  height: 3px;*/
/*  border-radius: 2px;*/
/*  transform: translate(-6px, 5px) rotateZ(-45deg);*/
/*  transform-origin: 2px 2px;*/
/*  background: #FFFFFF;*/
/*}*/
/*.checkbox_tag_dummy {*/
/*  position: relative;*/
/*  top: 0;*/
/*  left: 0;*/
/*  display: block;*/
/*  width: 20px;*/
/*  height: 20px;*/
/*  border: solid 2px transparent;*/
/*  background: rgba(0, 0, 0, .15);*/
/*  border-radius: 50%;*/
/*  transition: all .15s linear;*/
/*}*/
/*.checkbox_tag_label {*/
/*  margin-left: 12px;*/
/*  display: block;*/
/*  font-size: 16px;*/
/*  font-weight: bold;*/
/*}*/