<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <div class="row">
          <span class= "h4 col-12 text-center pt-5"><strong>本当に退会しますか?</strong></span>
          <div class="col-12 my-3 ">
            <p class= "text-center text-sm">退会すると、会員登録情報や</p>
            <p class= "text-center text-sm">これまでの投稿履歴が閲覧できなくなります。</p>
            <p class= "text-center text-sm">退会する場合は「退会する」をクリックしてください。</p>
          </div>
          <div class="col-12 py-4 d-flex justify-content-center online-btns border-top" id="bottom">
            <%= link_to "退会しない", users_path, class:"online-btn col-3 mr-3 text-center"%>
            <%= link_to "退会する", withdrawal_users_path, method: :patch, data: {confirm: "本当に退会しますか?"}, class:"online-btn col-3 ml-3 text-center" %>
          </div>
        </div>
    </div>
  </div>
</div>