<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <div class="content-wrap">
        <header class="page-header heading">
          <h1 class="mb-5 heading__ttl">
            <span class="text-en">Favorites</span>
            <span class="text-ja">行ってみたい場所</span>
          </h1>
        </header>
      </div>
      <div class='col-md-12 mb-5'>
        <div class="d-flex align-content-start row flex-wrap py-1">
          <%= render 'public/posts/index', posts: @favorite_posts %>
        </div>
        <div class="text-center row py-1">
          <%#= paginate @favorite_posts %>
        </div>
        <div class="d-flex align-content-center row py-1">
          <%= render "/public/posts/index_map", posts: @favorite_posts %>
        </div>
      </div>
    </div>
  </div>
</div>