<footer class="text-center pt-4 pb-5">
   <div class="container mt-4">
     <div class="mx-auto">
       <%= image_tag 'coffee.svg', class:"mr-2 pb-0 coffee" %>
       <p>© 2023 hitotabi</p>
     </div>
   </div>
</footer>